astroid==3.3.5
autopep8==2.3.1
bcrypt==4.2.0
dill==0.3.9
isort==5.13.2
mccabe==0.7.0
platformdirs==4.3.6
pyasn1==0.6.1
pycodestyle==2.12.1
pylint==3.3.1
PyQt6==6.7.1
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
rsa==4.9
tomli==2.0.2
tomlkit==0.13.2
typing_extensions==4.12.2
